* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sub-container-1 {
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
}

.budget-body {
    margin-top: 10vh;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: .5rem;
}

.budget-body h1 {
    background-color: #088F8F;
    color: #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .7rem 0;
}

input {
    width: 90%;
    padding: .6rem;
    display: block;
    margin: 1rem auto;
    border-radius: .3rem;
    border: 1px solid rgb(216, 213, 213);
    outline: none;
}

input:focus::placeholder {
    color: rgb(148, 142, 142);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    display: block;
    margin-left: 5%;
    background-color: #5F9EA0;
    color: white;
    padding: .5rem .7rem;
    font-size: 1rem;
    border-radius: .4rem;
    border: none;
}

.delete-btn {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    margin-left: auto;
    padding: auto;
}

.delete-btn img {
    width: 2rem;
    transition: .4s;
}


.expenses-body {
    margin-top: 5vh;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: .5rem;
}

.expenses-body h1 {
    background-color: #088F8F;
    color: #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .7rem 0;
}



.sub-container-2 {
    flex: 60%;
}

.expenses-list-header {
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #088F8F;
    color: white;
    text-align: center;
    border-radius: .3rem;
}

.expenses-list {
    width: 80%;
    margin: auto;
    margin-top: 3vh;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: rgb(65, 64, 64);
}

.expenses-list h3 {
    font-weight: 500;
}


.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}





.hvr-fade {
    display: block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 1s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: #097969;
    color: white;
}

#list-container {
    background-color: rgb(243, 243, 243);
    width: 100%;
    margin-bottom: 3rem;
}



@media (max-width:900px) {
    .container {
        flex-direction: column;
    }

    .sub-container-1 {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width:680px) {
    .sub-container-1 {
        flex-direction: column;

    }

    html {
        font-size: 15px;
    }
}

@media (max-width:560px) {
    html {
        font-size: 14px;
    }
}